# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.10.3

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/thundra-io/thundra-lambda-agent-go
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: echo "Hello Circleci"
      - run: go get -v -t -d ./thundra
      - run: go test -v ./thundra
      - run: go get -v -t -d ./trace
      - run: go test -v ./trace
      - run: go get -v -t -d ./metric
      - run: go test -v ./metric
      - run: go get -v -t -d ./invocation
      - run: go test -v ./invocation
  test:
    pre:
      - go get github.com/mattn/goveralls
    override:
      - go test -v -cover -race -coverprofile=/home/ubuntu/coverage.out
    post:
      - /home/ubuntu/.go_workspace/bin/goveralls -coverprofile=/home/ubuntu/coverage.out -service=circle-ci -repotoken=$COVERALLS_TOKEN
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test